:root{
    --primecolor:rgb(171, 56, 56);
    --seccolor:#f7bcf7;
    --lightcolor:white;
    --bgcolor-1:#171a1c;
    --bgcolor-2:#22282e;
    --padding:8%;
    }

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
html{
  font-family:;
    font-size: 16px;
    color: var(--lightcolor);
}
h1{
    font-size: 4.65rem;
    margin: 1.7rem 0;
}
h3{
    font-size: 1.5rem;
    margin-bottom: 3.5rem;
}
h4{
    font-size: 1.25rem;
    color: var(--seccolor);
}
span{
    color: var(--primecolor);
}
h2{
    font-size:2.2rem ;
    letter-spacing: 0.12rem;
    cursor: pointer;
}

nav{
    background-color:var(--bgcolor-1);
    padding-top:2.2rem ;
    padding-left: var(--padding);
    padding-right: var(--padding);

    display:flex;
    justify-content: space-between;
    align-items: center;

}

nav ul li{
    list-style-type: none ;
    display: inline-block;
    margin: 0.8rem 1.5rem;
}
nav ul li a {
    color: var(--lightcolor);
    text-decoration: none;
    text-transform: capitalize;
    transition:0.4s ;
}
nav ul li a:hover {
    color: var(--primecolor);
  
}
.home{
    width: 100% ;
    height:100vh ;
    background-color:var(--bgcolor-1);
    display: flex;
   flex-direction:column;
}
.btn{
    background-color: var(--primecolor);
    text-decoration: none;
    color: var(--lightcolor);
    font-weight: bold;
    padding: 0.81rem 1.87rem;
    border-radius: 30px;
    transition: 0.4s;
    border: 2px solid var(--primecolor);
}

.btn:hover{
    background-color: transparent;
}
.content{
    padding: 0 var(--padding);
    display: flex ;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    

}
.contText{
    position: relative;
    bottom: 70px;

  }    

.socials{
    margin-top: 3rem; 
}
.socials img{
    margin-right: 2rem ;
    width: 2.5rem;
    transition: 0.4s;
}
.socials img:hover{
    transform: scale(1.2);
}
.contimges{
    width: 45%;
    height:90%;
    position: relative;
    align-self: flex-end;
   
    
}
.contimges img{
    position: absolute;
    bottom:0;
    width:100% ;
    left:50%;
    transform: translateX(-50%) ;
    transition: 0.6s ;
}
.contimges:hover .shape{
bottom: 50px;


}
.contimges:hover .personalphoto{
  
left: 55%;
}
